@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: #333 no-repeat center center / cover;
  background-image: linear-gradient(
      rgba(22, 22, 22, 0.479),
      rgba(22, 22, 22, 0.342)
    ),
    url("../img/city.jpg");
  color: #ddd;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding: 1rem;
}


.nav, .footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: cornflowerblue;
  height: 7rem;
}

.nav {
  justify-content: space-evenly;
}

.footer {
  justify-content: center;
}

form {
  margin: 1.5rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.6rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 3.8rem;
  font-weight: 500;
}

h2 {
  font-size: 2.3rem;
  color: #ccc;
}

a {
  text-decoration: none;
  font-size: 2.8;
  color: whitesmoke;
}

h3 {
  font-size: 2rem;
  color: #c7c7c7;
  margin: 2rem;
}

p {
  font-size: 3rem;
  margin: 3rem
}

input {
  outline: none;
  padding: .8rem 1rem;
  border: 1px solid #ccc
}

button {
  padding: .8rem 1rem;
  color: white;
  cursor: pointer;
  background-color: #ccc;
}

/* cursor */
.txt-type > .txt {
  border-right: 2px solid #b4b4b4;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
